<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>@ViewBag.Title | Admin Electronic Device</title>
    <link rel="icon" href="~/Areas/Admin/Assets/images/logo-asp.net.png">

    <!-- Fontfaces CSS-->
    <link href="~/Areas/Admin/Assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Areas/Admin/Assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all" />

    <!-- Vendor CSS-->
    <link href="~/Areas/Admin/Assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/wow/animate.css" rel="stylesheet" media="all"/>
    <link href="~/Areas/Admin/Assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/Assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- Main CSS-->
    <link href="~/Areas/Admin/Assets/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        @{
            Html.RenderPartial("_HeaderMobile");
        }
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        @{
            Html.RenderPartial("_Sidebar");
        }
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            @{
                Html.RenderPartial("_HeaderDesktop");
            }
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2021 by <b>Nhóm 6 - CNTT01 - K13 - HaUI</b>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
    @RenderSection("modal",required:false)
    <!-- Jquery JS-->
    <script src="~/Areas/Admin/Assets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-5.0.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Areas/Admin/Assets/vendor/slick/slick.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/wow/wow.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/animsition/animsition.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Areas/Admin/Assets/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="~/Areas/Admin/Assets/js/main.js"></script>
    @RenderSection("Script", required: false);
</body>

</html>
<!-- end document-->
