
@{

}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Tạo tài khoản để mua sắm thuận tiện hơn</h2>
                        <p>Trang chủ <span>></span> Tạo tài khoản</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <img src="img/my-image/banner/sign-up.png" alt="" width="250">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================login_part Area =================-->
<section class="login_part mt-3">
    <div class="container p-4 bg-white">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Bạn đã có tài khoản?</h2>
                        <p>Đăng nhập ngay để có thể mua sắp một cách thuận tiên hơn!</p>
                        <a href="@Url.Action("Index","Login")" class="btn_3">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Tạo tài khoản mới</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="username" name="username" value=""
                                       placeholder="Tên đăng nhập">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="email" name="email" value=""
                                       placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="fullname" name="fullname" value=""
                                       placeholder="Họ tên">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                       placeholder="Mật khẩu">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="retype-password" name="retype-password" value=""
                                       placeholder="Nhập lại mật khẩu">
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3">
                                    Đăng ký
                                </button>
                                <a class="lost_pass" href="@Url.Action("Index","Login")">Tôi đã có tài khoản!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================login_part end =================-->