USE [master]
GO
/****** Object:  Database [ElectronicDevice]    Script Date: 8/6/2021 3:02:59 PM ******/

IF(EXISTS(SELECT * FROM SYSDATABASES WHERE NAME='ElectronicDevice'))
	DROP DATABASE ElectronicDevice
GO

CREATE DATABASE [ElectronicDevice]
GO

USE [ElectronicDevice]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/6/2021 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID_Account] [int] IDENTITY(1,1) NOT NULL,
	[ID_Role] [int] NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [varchar](50) NULL,
	[Status] [bit] NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[IsManager] [bit] NULL,
	[ResetPasswordCode] [varchar](100) NULL,
	[ActivationCode] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 8/6/2021 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[ID_Bill] [int] IDENTITY(1,1) NOT NULL,
	[ID_Account] [int] NOT NULL,
	[ReceiverName] [nvarchar](50) NOT NULL,
	[ReceiverAddress] [nvarchar](255) NOT NULL,
	[ReceiverEmail] [varchar](255) NOT NULL,
	[ReceiverPhone] [char](20) NOT NULL,
	[Note] [ntext] NULL,
	[PayType] [nvarchar](255) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Bill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 8/6/2021 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[ID_Product] [int] NOT NULL,
	[ID_Bill] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[CurrentlyPrice] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC,
	[ID_Bill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/6/2021 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ID_Product] [int] NOT NULL,
	[ID_Account] [int] NOT NULL,
	[Amount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC,
	[ID_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/6/2021 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID_Category] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Icon] [nvarchar](255) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 8/6/2021 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Id_Permission] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionDetail]    Script Date: 8/6/2021 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionDetail](
	[Id_Permission] [int] NOT NULL,
	[ID_Account] [int] NOT NULL,
	[Code] [varchar](100) NULL,
	[View] [bit] NULL,
	[Create] [bit] NULL,
	[Edit] [bit] NULL,
	[Delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Permission] ASC,
	[ID_Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/6/2021 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID_Product] [int] IDENTITY(1,1) NOT NULL,
	[ID_Category] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Price] [money] NOT NULL,
	[Model] [nvarchar](255) NOT NULL,
	[Amount] [int] NOT NULL,
	[Guarantee] [int] NOT NULL,
	[Origin] [nvarchar](255) NULL,
	[Discount] [smallint] NULL,
	[ShortDescription] [nvarchar](255) NULL,
	[Detail] [ntext] NULL,
	[Image] [nvarchar](255) NOT NULL,
	[CreatedDate] [date] NULL,
	[Status] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDate] [date] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/6/2021 3:02:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID_Role] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID_Account], [ID_Role], [UserName], [Password], [FullName], [Phone], [Address], [Email], [Status], [Avatar], [IsManager],[ResetPasswordCode],[ActivationCode]) VALUES (1, 2, N'admin', N'Admin@1234', N'Quản Trị Viên', N'0999888776', N'Đại Học Công Nghiệp Hà Nội', N'nhom6.cntt01.k13@gmail.com', 1, N'logo-haui.png', 1, NULL, NULL)
INSERT [dbo].[Account] ([ID_Account], [ID_Role], [UserName], [Password], [FullName], [Phone], [Address], [Email], [Status], [Avatar], [IsManager],[ResetPasswordCode],[ActivationCode]) VALUES (2, 1, N'nhom6', N'nhom6', N'Nguyen Van An', N'0987654321     ', N'Cau Giay - Ha Noi', N'an123@gmail.com', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Account] ([ID_Account], [ID_Role], [UserName], [Password], [FullName], [Phone], [Address], [Email], [Status], [Avatar], [IsManager],[ResetPasswordCode],[ActivationCode]) VALUES (3, 1, N'user1', N'nhom6', N'Tưởng Giới Thạch', N'0989654321     ', N'Ba Đình - Hà Nội', N'tgt123@gmail.com', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([ID_Bill], [ID_Account], [ReceiverName], [ReceiverAddress], [ReceiverEmail], [ReceiverPhone], [Note], [PayType], [Status], [CreatedDate], [ModifiedDate]) VALUES (1, 3, N'Phạm Thị A', N'Bắc Ninh', N'trandobn@gmail.com', N'0385993661          ', N'Gửi nhanh', N'Chuyển khoản', 3, CAST(N'2021-01-01' AS Date), CAST(N'2021-08-05' AS Date))
INSERT [dbo].[Bill] ([ID_Bill], [ID_Account], [ReceiverName], [ReceiverAddress], [ReceiverEmail], [ReceiverPhone], [Note], [PayType], [Status], [CreatedDate], [ModifiedDate]) VALUES (2, 2, N'Nguyễn văn', N'Bắc Ninh', N'trandobn@gmail.com', N'0385993661          ', N'Gửi nhanh', N'Chuyển khoản', 4, CAST(N'2021-01-01' AS Date), CAST(N'2021-08-05' AS Date))
INSERT [dbo].[Bill] ([ID_Bill], [ID_Account], [ReceiverName], [ReceiverAddress], [ReceiverEmail], [ReceiverPhone], [Note], [PayType], [Status], [CreatedDate], [ModifiedDate]) VALUES (3, 3, N'Trần Thị Hoa', N'Bắc Ninh', N'trandobn@gmail.com', N'0385993661          ', N'Gửi nhanh', N'Chuyển khoản', 3, CAST(N'2021-01-01' AS Date), CAST(N'2021-08-06' AS Date))
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
INSERT [dbo].[BillDetail] ([ID_Product], [ID_Bill], [Amount], [CurrentlyPrice]) VALUES (3, 1, 5, 50000.0000)
INSERT [dbo].[BillDetail] ([ID_Product], [ID_Bill], [Amount], [CurrentlyPrice]) VALUES (4, 1, 5, 50000.0000)
INSERT [dbo].[BillDetail] ([ID_Product], [ID_Bill], [Amount], [CurrentlyPrice]) VALUES (5, 2, 5, 10000.0000)
GO
INSERT [dbo].[Cart] ([ID_Product], [ID_Account], [Amount]) VALUES (1, 3, 1)
INSERT [dbo].[Cart] ([ID_Product], [ID_Account], [Amount]) VALUES (20, 3, 2)
INSERT [dbo].[Cart] ([ID_Product], [ID_Account], [Amount]) VALUES (50, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID_Category], [Name], [Icon], [Status]) VALUES (3, N'Điều hòa nhiệt độ', N'icon_dieu_hoa.png', 1)
INSERT [dbo].[Category] ([ID_Category], [Name], [Icon], [Status]) VALUES (4, N'Tivi, loa - âm thanh', N'icon-tivi-loa-am-thanh.png', 1)
INSERT [dbo].[Category] ([ID_Category], [Name], [Icon], [Status]) VALUES (5, N'Máy giặt, máy sấy quần áo', N'icon-may-giat-may-say.png', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([Id_Permission], [Name], [Code]) VALUES (4, N'Quản lý danh mục', N'CATEGORIES')
INSERT [dbo].[Permission] ([Id_Permission], [Name], [Code]) VALUES (5, N'Quản lý sản phẩm', N'PRODUCTS')
INSERT [dbo].[Permission] ([Id_Permission], [Name], [Code]) VALUES (6, N'Quản lý đơn hàng', N'ORDERS')
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
INSERT [dbo].[PermissionDetail] ([Id_Permission], [ID_Account], [Code], [View], [Create], [Edit], [Delete]) VALUES (4, 1, N'CATEGORIES', 1, 1, 1, 1)
INSERT [dbo].[PermissionDetail] ([Id_Permission], [ID_Account], [Code], [View], [Create], [Edit], [Delete]) VALUES (4, 1016, N'CATEGORIES', 1, 1, 0, 0)
INSERT [dbo].[PermissionDetail] ([Id_Permission], [ID_Account], [Code], [View], [Create], [Edit], [Delete]) VALUES (4, 1018, N'CATEGORIES', 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID_Role], [Name], [Code]) VALUES (1, N'Khach hang', N'CLIENT')
INSERT [dbo].[Role] ([ID_Role], [Name], [Code]) VALUES (2, N'Nguoi quan tri', N'ADMIN')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__C9F28456E42AB2CA]    Script Date: 8/6/2021 3:02:59 PM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Role] ([ID_Role])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([ID_Bill])
REFERENCES [dbo].[Bill] ([ID_Bill])
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
GO
ALTER TABLE [dbo].[PermissionDetail]  WITH CHECK ADD FOREIGN KEY([ID_Account])
REFERENCES [dbo].[Account] ([ID_Account])
GO
ALTER TABLE [dbo].[PermissionDetail]  WITH CHECK ADD FOREIGN KEY([Id_Permission])
REFERENCES [dbo].[Permission] ([Id_Permission])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ID_Category])
REFERENCES [dbo].[Category] ([ID_Category])
GO
