<!-- modal create -->
<div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scrollmodalLabel">Thêm Mới Sản Phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <label>Tên Sản Phẩm</label>
                        <input class="au-input au-input--full" type="text" name="fullname" placeholder="Tủ Lạnh">
                    </div>
                    <div class="form-group">
                        <label>Danh Mục</label>
                        <select name="categories" id="selected_category" class="form-control">
                            <option value="0">Điều Hòa Nhiệt Độ</option>
                            <option value="1">Tivi, Loa - Âm Thanh</option>
                            <option value="2">Máy Giặt</option>
                            <option value="3">Tủ Lạnh</option>
                            <option value="4">Quạt Mát</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Hình Ảnh</label>
                        <input type="file" name="img[]" class="file" accept="image/*">
                        <div class="input-group my-3">
                            <input type="text" class="form-control" disabled placeholder="Upload" id="file">
                            <div class="input-group-append">
                                <button type="button" class="browse btn btn-primary">Browse...</button>
                            </div>
                        </div>
                        <img src="https://placehold.it/80x80" id="preview" class="img-thumbnail">
                    </div>
                    <div class="form-group">
                        <label>Đơn Giá</label>
                        <input class="au-input au-input--full" type="text" name="price" placeholder="0&#8363;">
                    </div>
                    <div class="form-group">
                        <label>Model</label>
                        <input class="au-input au-input--full" type="text" name="model" placeholder="A">
                    </div>
                    <div class="form-group">
                        <label>Số Lượng</label>
                        <input class="au-input au-input--full" type="text" name="amount" placeholder="100">
                    </div>
                    <div class="form-group">
                        <label>Bảo Hành</label>
                        <input class="au-input au-input--full" type="text" name="guarantee" placeholder="12">
                    </div>
                    <div class="form-group">
                        <label>Xuất Xứ</label>
                        <input class="au-input au-input--full" type="text" name="origin" placeholder="Việt Nam">
                    </div>
                    <div class="form-group">
                        <label>Giảm Giá</label>
                        <input class="au-input au-input--full" type="text" name="discount" placeholder="0&#37;">
                    </div>
                    <div class="form-group">
                        <label>Mô Tả Ngắn</label>
                        <textarea name="short-description" id="short-description" rows="3"
                                  placeholder="Mô tả ngắn..." class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Chi Tiết</label>
                        <textarea name="detail" id="detail" rows="9"
                                  placeholder="Thông tin chi tiết về sản phẩm...." class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Trạng Thái</label>
                        <select name="select" id="select" class="form-control">
                            <option value="0">Hiển Thị</option>
                            <option value="1">Ẩn</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal create -->

