body{
    background-color: #f8f9fa;
}

.home_menu{
    position: fixed;
    background-color: #ecfdff;
}

.logo{
    position: absolute;
    top: 0px;
    left: -16px;
    border: 1px solid #ecfdff;
}