
@{
    ViewBag.Title = "Giỏ hàng";
}
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Giỏ hàng | Electronic Device</title>
    <link rel="icon" href="~/wwwroot/img/my-logo/logo-asp.net.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/owl.carousel.min.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/flaticon.css">
    <link rel="stylesheet" href="~/wwwroot/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/slick.css">
    <link rel="stylesheet" href="~/wwwroot/css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/style.css">

    <!-- My style -->
    <link rel="stylesheet" href="~/wwwroot/css/my-style-menu.css">
    <link rel="stylesheet" href="~/wwwroot/css/my-style.css">
    <link rel="stylesheet" href="~/wwwroot/css/my-style-cart.css">
</head>

<body>
    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg"  id="my_banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Giỏ hàng</h2>
                            <p>Trang chủ<span> > </span>Giỏ hàng</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <img src="~/wwwroot/img/my-image/banner/cart.png" alt="" width="350">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!--================Cart Area =================-->
    <section class="cart_area mt-3">
        <div class="container bg-white p-4">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tổng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="https://cdn.mediamart.vn/Product/thumb_-9ZWE58.jpg" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <p>Điều Hòa Gree 1 Chiều 9000BTU GWC09KB-K6N0C4</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>5.290.000đ</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <span class="input-number-decrement"> <i class="ti-angle-down"></i></span>
                                        <input class="input-number" type="text" value="1" min="0" max="10">
                                        <span class="input-number-increment"> <i class="ti-angle-up"></i></span>
                                    </div>
                                </td>
                                <td>
                                    <h5>5.290.000đ</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="https://cdn.mediamart.vn/Product/thumb_-28yESO.png" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <p>Máy Giặt Lồng Ngang Samsung Inverter 9Kg WW90T634DLE/SV</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>9.990.000đ</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <!-- <input type="text" value="1" min="0" max="10" title="Quantity:"
                                          class="input-text qty input-number" />
                                        <button
                                          class="increase input-number-increment items-count" type="button">
                                          <i class="ti-angle-up"></i>
                                        </button>
                                        <button
                                          class="reduced input-number-decrement items-count" type="button">
                                          <i class="ti-angle-down"></i>
                                        </button> -->
                                        <span class="input-number-decrement"> <i class="ti-angle-down"></i></span>
                                        <input class="input-number" type="text" value="1" min="0" max="10">
                                        <span class="input-number-increment"> <i class="ti-angle-up"></i></span>
                                    </div>
                                </td>
                                <td>
                                    <h5>9.990.000đ</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="https://cdn.mediamart.vn/Product/thumb_-QKs992.png" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <p>Tủ Lạnh Sharp SJ-X281E-SL - 271 Lít (Bạc Thép Không Gỉ)</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>6.090.000đ</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <span class="input-number-decrement"> <i class="ti-angle-down"></i></span>
                                        <input class="input-number" type="text" value="1" min="0" max="10">
                                        <span class="input-number-increment"> <i class="ti-angle-up"></i></span>
                                    </div>
                                </td>
                                <td>
                                    <h5>6.090.000đ</h5>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Tổng tiền</h5>
                                </td>
                                <td>
                                    <h5>21.370.000đ</h5>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="checkout_btn_inner float-right">
                        <a class="btn_1" href="@Url.Action("Index","Product")">Tiếp tục mua hàng</a>
                        <a class="btn_1 checkout_btn_1" href="@Url.Action("Buy","Bill")">Thanh toán</a>
                    </div>
                </div>
            </div>
    </section>
    <!--================End Cart Area =================-->
    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="~/wwwroot/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/wwwroot/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/wwwroot/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/wwwroot/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="~/wwwroot/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/wwwroot/js/owl.carousel.min.js"></script>
    <script src="~/wwwroot/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="~/wwwroot/js/slick.min.js"></script>
    <script src="~/wwwroot/js/jquery.counterup.min.js"></script>
    <script src="~/wwwroot/js/waypoints.min.js"></script>
    <script src="~/wwwroot/js/contact.js"></script>
    <script src="~/wwwroot/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/wwwroot/js/jquery.form.js"></script>
    <script src="~/wwwroot/js/jquery.validate.min.js"></script>
    <script src="~/wwwroot/js/mail-script.js"></script>
    <script src="~/wwwroot/js/stellar.js"></script>
    <script src="~/wwwroot/js/price_rangs.js"></script>
    <!-- custom js -->
    <script src="~/wwwroot/js/custom.js"></script>
</body>

</html>

