
@{
    ViewBag.Title = "Phản hồi sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- DATA TABLE -->
<h3 class="title-5 m-b-35">danh sách các đánh giá cho sản phẩm ABC</h3>
<div class="table-data__tool">
    <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="property">
                <option selected="selected">Tất cả</option>
                <option value="">1 sao</option>
                <option value="">2 sao</option>
                <option value="">3 sao</option>
                <option value="">4 sao</option>
                <option value="">5 sao</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="status">
                <option selected="selected">Hiển thị</option>
                <option value="">Ẩn</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button class="au-btn-filter">
            <i class="zmdi zmdi-filter-list"></i>Lọc
        </button>
    </div>
</div>
<div class="table-responsive table-data">
    <table class="table table-data2">
        <thead>
            <tr>
                <th>#</th>
                <th>Tài khoản</th>
                <th>Số sao</th>
                <th>Nội dung</th>
                <th>Ngày tạo</th>
                <th>trạng thái</th>
                <th>hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-shadow">
                <td class="number_order">1</td>
                <td>
                    <span class="block-name">User123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Hiển thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">2</td>
                <td>
                    <span class="block-name">Quang123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Ẩn</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">3</td>
                <td>
                    <span class="block-name">Nam123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Hiển thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">4</td>
                <td>
                    <span class="block-name">Trung123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Hiển thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">5</td>
                <td>
                    <span class="block-name">user123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Hiển thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">6</td>
                <td>
                    <span class="block-name">user123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Hiển thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">7</td>
                <td>
                    <span class="block-name">user123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Hiển thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">8</td>
                <td>
                    <span class="block-name">user123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Hiển thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">9</td>
                <td>
                    <span class="block-name">user123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Hiển thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">10</td>
                <td>
                    <span class="block-name">user123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Hiển thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">11</td>
                <td>
                    <span class="block-name">user123</span>
                </td>
                <td>
                    <span class="">5</span>
                </td>
                <td>
                    <span class="">Sản phẩm tốt. Giao hàng nhanh</span>
                </td>
                <td>
                    <span>12/05/2021</span>
                </td>
                <td>
                    <span class="status--process">Hiển thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ẩn">
                            <i class="fas fa-ban"></i>
                        </button>
                        <button class="item" title="Hiển thị" data-toggle="tooltip" data-placement="top">
                            <i class="far fa-check-circle"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!-- END DATA TABLE -->
<div class="my-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

