
<!-- modal create -->
<div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Thêm Mới Thành Viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>Tên Danh Mục</label>
                    <input class="au-input au-input--full" type="text" name="Name" id="Name" placeholder="Tủ Lạnh">
                    <span class="hide text-danger" id="error_name"></span>
                </div>

                <div class="form-group ">
                    <label style="font-size:13px ">Icon</label>
                    <img id="preview" onclick="$('#inputFile').click()" class="img-thumbnail"
                         style=" max-width: 50px; max-height: 50px;">
                    <br />
                    <label for="inputFile" class="au-input au-input--full font-weight-bold text-center"
                           style="background-color: rgb(41, 167, 248);"><span style="color:white">Chọn Ảnh</span></label>
                    <input type="file" id="inputFile" path="inputFile" multiple="multiple"
                           name="Icon" class="form-control" style="display:none" accept="image/*" />
                    <span class="hide text-danger" id="error_image"></span>
                </div>
                <div class="form-group">
                    <label>Trạng Thái :</label>&ensp;
                    <input type="radio" id="show" name="Status" checked />
                    <label for="show">Hiển thị</label>
                    &ensp;
                    <input type="radio" id="hide" name="Status" />
                    <label for="hide"> Ẩn</label>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" onclick="clickSaveCategory()">Lưu</button>
                </div>

                <input hidden id="id" name="id" />
                <input hidden id="imagename" name="imagename" />

            </div>

        </div>
    </div>
</div>
<!-- end modal create -->

<script>
    function clickSaveCategory() {
        let data = {};
        let checkError = false;
        data["Name"] = $('#Name').val();
        if (data["Name"] == "") {
            $('#error_name').show();
            $('#error_name').text("Tên danh mục không được bỏ trống");
            checkError = true;
        }
        data["Status"] = $("#show").is(":checked") ? true : false;
        data["ID_Category"] = 0;
        data["ID_Category"] = Number($('#id').val());
        let file = $('#inputFile')[0].files[0];
        if (data["ID_Category"] && file == null) {
            $('#error_image').show();
            $('#error_image').text("Ảnh danh mục không được để trống");
            checkError = true;
        }

        if (checkError) return;
        if (file != undefined) {
            var reader = new FileReader();
            reader.onload = function (e) {
                data["Base64"] = e.target.result;
                data["Icon"] = file.name;
                if (data["ID_Category"] == 0) {
                    addData(data);
                } else {
                    editData(data);
                }
            };
            reader.readAsDataURL(file);
        } else {
            data["Icon"] = $('#imagename').val();
            if (data["ID_Category"] == 0) {
                addData(data);
            } else {
                editData(data);
            }
        }

        $('#modal-create').modal('toggle');
    }

    function addData(data) {
        $.ajax({
            url: '/Admin/Category/AddProductCategory',
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: (result) => {

                setDataCategory(
                    result["ID_Category"],
                    result["Name"],
                    result["Icon"],
                    result["Status"]
                );
                alert("Thêm danh mục thành công.");
            },
            error: (error) => {
                alert("Thêm danh mục thất bại!");
            }
        });
    }
    function editData(data) {
        $.ajax({
            url: '/Admin/Category/AddProductCategory',
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: (result) => {
                alert("Cập nhật danh mục thành công.");

                editCategory(
                    result["ID_Category"],
                    result["Name"],
                    result["Icon"],
                    result["Status"]
                );
                //location.reload();
            },
            error: (error) => {
                alert("Cập nhật danh mục thất bại!");
            }
        });
    }

    function setDataCategory(id, name, icon, status) {
        var showStatus = status ? "Hiển thị" : "Ẩn";
        $('#data-category').append(
            '<tr class="tr-shadow" id="' + id + '">' +
            '<td class="block-icon">' +
            '<img src="/wwwroot/imageUpload/' + icon +
            '" alt="Icon" style="max-width: 50px; max-height: 50px;"/>' +
            '</td>' +
            '<td>' +
            '<span class="block-name-product" id="name-product">' + name + '</span>' +
            '</td>' +
            '<td>' +
            '<span class="status--process" id="show-status">' + showStatus + '</span>' +
            '</td>' +
            '<td>' +
            '<div class="table-data-feature">' +
            '<button class="item" title="Sửa" data-toggle="modal" data-target="#modal-create"' +
            'onclick="clickEditCategory(' + id + ',\'' + name + '\',\'' + icon + '\',' + status + ')">' +
            '<i class="fas fa-pencil-alt"></i>' +
            '</button>' +
            '<button class="item" title="Xóa" onclick="deleteCategory(' + id + ')">' +
            '<i class="fas fa-trash-alt"></i>' +
            '</button>' +
            '</div>' +
            ' </td>' +
            '</tr>' +
            ' <tr class="spacer" id="spacer-' + id + '"></tr>'
        );
    }

    function editCategory(id, name, icon, status) {
        var showStatus = status ? "Hiển thị" : "Ẩn";
        $('#' + id).html(
            '<td class="block-icon">' +
            '<img src="/wwwroot/imageUpload/' + icon +
            '" alt="Icon" style="max-width: 50px; max-height: 50px;"/>' +
            '</td>' +
            '<td>' +
            '<span class="block-name-product" id="name-product">' + name + '</span>' +
            '</td>' +
            '<td>' +
            '<span class="status--process" id="show-status">' + showStatus + '</span>' +
            '</td>' +
            '<td>' +
            '<div class="table-data-feature">' +
            '<button class="item" title="Sửa" data-toggle="modal" data-target="#modal-create"' +
            'onclick="clickEditCategory(' + id + ',\'' + name + '\',\'' + icon + '\',' + status + ')">' +
            '<i class="fas fa-pencil-alt"></i>' +
            '</button>' +
            '<button class="item" title="Xóa" onclick="deleteCategory(' + id + ')">' +
            '<i class="fas fa-trash-alt"></i>' +
            '</button>' +
            '</div>' +
            ' </td>'
        );
    }

</script>

