
@{
    ViewBag.Title = "Thể loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- DATA TABLE -->
<h3 class="title-5 m-b-35">danh sách danh mục</h3>
<div class="table-data__tool">
    <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="status">
                <option selected="selected">Tất Cả</option>
                <option value="">Hiển Thị</option>
                <option value="">Ẩn</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button class="au-btn-filter">
            <i class="zmdi zmdi-filter-list"></i>Lọc
        </button>
    </div>
    <div class="table-data__tool-right">
        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#modal-create">
            <i class="fas fa-plus"></i>Thêm mới
        </button>
    </div>
</div>
<div class="table-responsive table-data">
    <table class="table table-data2">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Icon</th>
                <th>Tên</th>
                <th>trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-shadow">
                <td class="number_order">1</td>
                <td>
                    <span class="block-name">1</span>
                </td>
                <td class="block-icon">
                    <img src="~/Areas/Admin/Assets/images/IconCategory/icon_dieu_hoa.png" alt="Icon" />
                </td>
                <td>
                    <span class="block-name-product">Điều hòa nhiệt độ</span>
                </td>
                <td>
                    <span class="status--process">Hiển Thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" title="Sửa" data-toggle="modal" data-target="#modal-edit">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="item" title="Xóa" data-toggle="modal" data-target="#modal-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">2</td>
                <td>
                    <span class="block-name">1</span>
                </td>
                <td class="block-icon">
                    <img src="~/Areas/Admin/Assets/images/IconCategory/icon-tivi-loa-am-thanh.png" alt="Icon" />
                </td>
                <td>
                    <span class="block-name-product">Tivi, Loa - Âm Thanh</span>
                </td>
                <td>
                    <span class="status--process">Hiển Thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" title="Sửa" data-toggle="modal" data-target="#modal-edit">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="item" title="Xóa" data-toggle="modal" data-target="#modal-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">3</td>
                <td>
                    <span class="block-name">1</span>
                </td>
                <td class="block-icon">
                    <img src="~/Areas/Admin/Assets/images/IconCategory/icon-may-giat-may-say.png" alt="Icon" />
                </td>
                <td>
                    <span class="block-name-product">Máy Giặt</span>
                </td>
                <td>
                    <span class="status--process">Hiển Thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" title="Sửa" data-toggle="modal" data-target="#modal-edit">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="item" title="Xóa" data-toggle="modal" data-target="#modal-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">4</td>
                <td>
                    <span class="block-name">1</span>
                </td>
                <td class="block-icon">
                    <img src="~/Areas/Admin/Assets/images/IconCategory/icon-tu-lanh-tu-dong-tu-mat.png" alt="Icon" />
                </td>
                <td>
                    <span class="block-name-product">Tủ Lạnh</span>
                </td>
                <td>
                    <span class="status--process">Hiển Thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" title="Sửa" data-toggle="modal" data-target="#modal-edit">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="item" title="Xóa" data-toggle="modal" data-target="#modal-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">5</td>
                <td>
                    <span class="block-name">1</span>
                </td>
                <td class="block-icon">
                    <img src="~/Areas/Admin/Assets/images/IconCategory/icon-quat-mat-cac-loai.png" alt="Icon" />
                </td>
                <td>
                    <span class="block-name-product">Quạt Mát</span>
                </td>
                <td>
                    <span class="status--process">Hiển Thị</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" title="Sửa" data-toggle="modal" data-target="#modal-edit">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="item" title="Xóa" data-toggle="modal" data-target="#modal-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!-- END DATA TABLE -->
<div class="my-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
@section modal{
    @Html.Partial("Create");
    @Html.Partial("Edit");
    @Html.Partial("Delete");
}


