<!-- modal create -->
<div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Thêm Mới Thành Viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <label>Họ Tên</label>
                        <input class="au-input au-input--full" type="text" name="fullname" placeholder="Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label>Tài Khoản</label>
                        <input class="au-input au-input--full" type="text" name="username" placeholder="vana123">
                    </div>
                    <div class="form-group">
                        <label>Mật Khẩu</label>
                        <input class="au-input au-input--full" type="password" name="password" placeholder="Mật Khẩu">
                    </div>
                    <div class="form-group">
                        <label>Số Điện Thoại</label>
                        <input class="au-input au-input--full" type="text" name="phone" placeholder="0123456789">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Địa Chỉ</label>
                        <input class="au-input au-input--full" type="text" name="address" placeholder="Thanh Xuân - Hà Nội">
                    </div>
                    <div class="form-group">
                        <label>Loại Tài Khoản</label>
                        <select name="select" id="select" class="form-control">
                            <option value="0">Quản Trị Viên</option>
                            <option value="1">Quản Lý Tài Khoản</option>
                            <option value="2">Quản Lý Sản Phẩm</option>
                            <option value="3">Quản Lý Danh Mục</option>
                            <option value="4">Quản Lý Khuyến Mãi</option>
                            <option value="5">Quản Lý Tin Tức</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal create -->