
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- DATA TABLE -->
<h3 class="title-5 m-b-35">danh sách tài khoản</h3>
<div class="table-data__tool">
    <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="property">
                <option selected="selected">Tất cả</option>
                <option value="">Admin</option>
                <option value="">Thành viên</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="status">
                <option selected="selected">Hoạt động</option>
                <option value="">Vô hiệu hóa</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button class="au-btn-filter">
            <i class="zmdi zmdi-filter-list"></i>Lọc
        </button>
    </div>
    <div class="table-data__tool-right">
        <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#modal-create">
            <i class="fas fa-plus"></i>Thêm mới
        </button>
    </div>
</div>
<div class="table-responsive table-data">
    <table class="table table-data2">
        <thead>
            <tr>
                <th>#</th>
                <th>Tài khoản</th>
                <th>Ảnh</th>
                <th>họ tên</th>
                <th>Điện thoại</th>
                <th>email</th>
                <th>trạng thái</th>
                <th>vai trò</th>
                <th>hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-shadow">
                <td class="number_order">1</td>
                <td>
                    <span class="block-name">Admin123</span>
                </td>
                <td class="block-image">
                    <img src="~/Areas/Admin/Assets/images/avatar/avatar0.png" alt="Ảnh đại diện" />
                </td>
                <td>
                    <span class="block-fullname">Nguyễn Quỳnh Huỳnh Nga</span>

                </td>
                <td>
                    <span>038456789</span>
                </td>
                <td><span>quynhNga@gmail.com</span></td>
                <td>
                    <span class="status--process">Hoạt động</span>
                </td>
                <td>
                    <span>Admin</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" title="Xóa" data-toggle="modal" data-target="#modal-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="item" title="Sửa" data-toggle="modal" data-target="#modal-edit">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">2</td>
                <td>
                    <span class="block-name">Admin123</span>
                </td>
                <td class="block-image">
                    <img src="~/Areas/Admin/Assets/images/avatar/avatar1.png" alt="Ảnh đại diện" />
                </td>
                <td>
                    <span class="block-fullname">Nguyễn Quỳnh Huỳnh Nga</span>

                </td>
                <td>
                    <span>038456789</span>
                </td>
                <td><span>quynhNga@gmail.com</span></td>
                <td>
                    <span class="status--process">Hoạt động</span>
                </td>
                <td>
                    <span>Admin</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" title="Xóa" data-toggle="modal" data-target="#modal-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="item" title="Sửa" data-toggle="modal" data-target="#modal-edit">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">3</td>
                <td>
                    <span class="block-name">Admin123</span>
                </td>
                <td class="block-image">
                    <img src="~/Areas/Admin/Assets/images/avatar/avatar2.png" alt="Ảnh đại diện" />
                </td>
                <td>
                    <span class="block-fullname">Nguyễn Quỳnh Huỳnh Nga</span>

                </td>
                <td>
                    <span>038456789</span>
                </td>
                <td><span>quynhNga@gmail.com</span></td>
                <td>
                    <span class="status--denied">Vô hiệu hóa</span>
                </td>
                <td>
                    <span>Admin</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" title="Xóa" data-toggle="modal" data-target="#modal-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="item" title="Sửa" data-toggle="modal" data-target="#modal-edit">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">4</td>
                <td>
                    <span class="block-name">Admin123</span>
                </td>
                <td class="block-image">
                    <img src="~/Areas/Admin/Assets/images/avatar/avatar3.png" alt="Ảnh đại diện" />
                </td>
                <td>
                    <span class="block-fullname">Nguyễn Quỳnh Huỳnh Nga</span>

                </td>
                <td>
                    <span>038456789</span>
                </td>
                <td><span>quynhNga@gmail.com</span></td>
                <td>
                    <span class="status--process">Hoạt động</span>
                </td>
                <td>
                    <span>Admin</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" title="Xóa" data-toggle="modal" data-target="#modal-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="item" title="Sửa" data-toggle="modal" data-target="#modal-edit">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            <tr class="tr-shadow">
                <td class="number_order">5</td>
                <td>
                    <span class="block-name">Admin123</span>
                </td>
                <td class="block-image">
                    <img src="~/Areas/Admin/Assets/images/avatar/avatar3.png" alt="Ảnh đại diện" />
                </td>
                <td>
                    <span class="block-fullname">Nguyễn Quỳnh Huỳnh Nga</span>

                </td>
                <td>
                    <span>038456789</span>
                </td>
                <td><span>quynhNga@gmail.com</span></td>
                <td>
                    <span class="status--process">Hoạt động</span>
                </td>
                <td>
                    <span>Admin</span>
                </td>
                <td>
                    <div class="table-data-feature">
                        <button class="item" title="Xóa" data-toggle="modal" data-target="#modal-delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="item" title="Sửa" data-toggle="modal" data-target="#modal-edit">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!-- END DATA TABLE -->
<div class="my-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
@section modal{
    @Html.Partial("Create");
}