
@{
    ViewBag.Title = "Giới thiệu";
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg" id="my_banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Giới thiệu về cửa hàng</h2>
                        <p>Trang chủ <span>></span> Giới thiệu</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <img src="~/wwwroot/img/my-image/banner/about-us.png" alt="" width="350">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- breadcrumb start-->
<!-- Content -->

<div class="container bg-white p-4 mt-3">
    <div class="row">
        <div class="col-md-12">
            <img src="~/wwwroot/img/about-us/dx-7-1170x660.jpg" alt="">
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>
                    I. GIỚI THIỆU
                    VỀ CÔNG TY
                </strong>
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>T</strong>rong những năm qua, xã hội phát triển, kinh tế tăng trưởng đồng thời là chất lượng
                cuộc sống của người dân ngày càng càng được nâng cao, nhiều trung tâm thương mại, nhà cao tầng, biệt
                thự
                được mọc ra&nbsp;kèm theo đó&nbsp;là nhu cầu mua sắm các thiết bị phục vụ nhu cầu cuộc sống hàng
                ngày như TV, Tủ lạnh, Điện gia dụng.....
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Sự kiện ngày
                16/1/2008,<strong>&nbsp;Electronic Device&nbsp;</strong>khai trương&nbsp;<strong>
                    Siêu thị điện máy
                    thứ&nbsp;1&nbsp;
                </strong>tọa lạc tại 29F Hai Bà Trưng - Hoàn Kiếm - Hà Nội chính thức tham
                gia vào lĩnh vực kinh doanh bán lẻ điện máy, tạo ra một phong cách mua sắm hoàn toàn mới với người
                dân thủ đô, thông qua cung cấp các sản phẩm và dịch vụ tới người tiêu dùng.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Tháng
                12/2008,&nbsp;<strong>Electronic Device&nbsp;</strong>tiếp tục khai trương<strong>
                    &nbsp;siêu thị thứ
                    2
                </strong>&nbsp;thuộc hệ thống siêu thị&nbsp;điện máy Media Mart,&nbsp;đã chứng tỏ được vị trí
                trên
                thị trường, khẳng định sự phát triển ổn định và bền vững trong bối cảnh các doanh nghiệp Việt Nam
                vừa tiếp cận một sân chơi rộng lớn và đầy tính cạnh tranh khốc liệt của tiến trình hội nhập WTO. Đây
                chính là thước đo giá trị những thành quả đạt được trong thời gian qua của&nbsp;<strong>
                    Electronic
                    Device
                </strong>.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Năm 2010 là một năm
                khó khăn trong tăng trưởng và phát triền. Song đó vừa là thách thức và cũng vừa là cơ hội cho những
                dự tính khả quan.&nbsp;<strong>Electronic Device&nbsp;</strong>tiếp tục đẩy kế hoạch
                phát triển nhân rộng mô hình hệ thống siêu thị điện máy thông qua sự ra đời&nbsp;<strong>
                    siêu thị
                    thứ 3
                </strong>&nbsp;tại Km10 Thanh Xuân - Hà Nội, và&nbsp;<strong>
                    siêu thị thứ
                    4
                </strong>&nbsp;tại 72
                Trường Chinh với quy mô lớn 20.000m2/ siêu thị. Đồng thời được đầu tư mạnh về tài chính, tái cơ cấu
                lại hệ thống quản lý,&nbsp;<strong>Electronic Device</strong>&nbsp;bước đầu được cộng đồng doanh
                nghiệp
                Việt Nam đánh giá hệ thống siêu thị điện máy có tốc độ phát triển rất mạnh miền Bắc.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Vào ngày đầu tiên của
                năm 2012,&nbsp;<strong>Electronic Device</strong>&nbsp;chính thức đưa vào hoạt
                động&nbsp;<strong>siêu thị thứ 5</strong>&nbsp;tại số 3 đường Nguyễn Văn Linh, Hà Nội. Với tổng diện
                tích
                lên đến 10.300 m2,&nbsp;Electronic Device Long Biên có sàn kinh doanh điện máy độc lập, khu vực chăm
                sóc khách hàng, kho bãi, hậu mãi phục vụ khách hàng riêng biệt, sân trước và bên hông tòa nhà
                2.000m2
                sẽ được sử dụng cho sân bãi đậu xe và không gian tổ chức các sự kiện ngoài trời nhằm tạo sức hút cho
                các hoạt động kinh doanh của siêu thị. Cũng trong năm 2012,&nbsp;<strong>
                    Electronic
                    Device
                </strong>&nbsp;tiếp
                tục khai trương&nbsp;<strong>siêu thị thứ 6</strong>&nbsp;tại 18 Phạm Hùng, Hà Nội.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Đáp lại sự ủng hộ,
                tin tưởng của đông đảo người tiêu dùng, tháng 4/2013,&nbsp;<strong>
                    Electronic
                    Device&nbsp;
                </strong>mở rộng sang lĩnh vực kinh doanh nội thất, đánh dấu bằng sự kiện khai
                trương showroom
                bán hàng đầu tiên tại địa chỉ quen thuộc Media Mart Long Biên, số 3 Nguyễn Văn Linh, Hà Nội.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Tiếp đến, sự kiện
                Electronic Device Nguyễn Chí Thanh,&nbsp;<strong>siêu thị thứ 7</strong>&nbsp;nằm trong hệ thống
                siêu thị&nbsp;điện máy Electronic Device đi vào hoạt động vào ngày 16/10/2013 tại số 18
                Nguyễn Chí Thanh chính thức nâng tổng diện tích trưng bày hàng hóa của toàn hệ thống tại Hà Nội lên
                tới 50,000m2.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Với mong muốn phục vụ
                tốt hơn nữa nhu cầu của khách hàng trên toàn quốc, cũng tháng 10/2013,&nbsp;<strong>
                    Electronic
                    Device
                </strong>&nbsp;"tấn công" thị trường Hải Phòng với sự kiện khai trương&nbsp;<strong>
                    siêu
                    thị thứ 8
                </strong>&nbsp;tại
                số 10 Lê Hồng Phong, Ngô Quyền, Hải Phòng. Đây được coi là siêu thị điện máy quy mô và hiện đại tại
                Hải Phòng. Sự hiện diện của Media Mart tại Hải Phòng đánh dấu bước phát triển quan trọng của thiết
                bị điện tử, lần đầu tiên Electronic Device có chi nhánh được thành lập ở các tỉnh với mô hình “tất
                cả trong một”, được giám sát, quản lý và vận hành… theo đúng chuẩn của Electronic Device. Điều này
                một
                lần nữa khẳng định quyết tâm mạnh mẽ của Ban lãnh đạo&nbsp;<strong>
                    Electronic
                    Device&nbsp;
                </strong>trong việc triển khai nhiệm vụ mở rộng điểm bán, trở thành hệ thống Siêu
                thị điện máy có quy mô lớn
                ở miền Bắc.”
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Tiếp nối sự thành
                công của chuỗi siêu thị tại Hà Nội và Hải Phòng, vào ngày 14/12/2013,&nbsp;<strong>
                    Công ty cổ phần
                    Electronic Device Việt Nam&nbsp;
                </strong>đưa vào hoạt động siêu thị điện máy thiết bị
                điện tử Thái Nguyên tại số 3 Bắc Kạn, TP Thái Nguyên. Đây là&nbsp;<strong>
                    siêu thị thứ
                    9
                </strong>&nbsp;trong hệ thống thế giới điện máy Electronic Device và là siêu thị điện máy có
                quy mô lớn tại tỉnh
                Thái Nguyên và các tỉnh lân cận.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Năm 2014 là năm phát
                triển thần tốc của&nbsp;<strong>Electronic Device</strong>&nbsp;với 7 siêu thị được đưa vận hành
                thành công:&nbsp;<strong>siêu thị thứ 10&nbsp;</strong>tại 37 Lý Thái Tổ, TP Bắc
                Ninh,&nbsp;<strong>siêu thị thứ 11</strong>&nbsp;tại&nbsp;<strong>1</strong>66
                Phạm Văn Đồng Hà Nội,&nbsp;<strong>siêu thị thứ 12</strong>&nbsp;tại 374 Nguyễn Văn Linh, An Tảo,
                Hưng Yên,<strong>&nbsp;siêu thị thứ 13&nbsp;</strong>tại 301 Trần Phú, Thanh Hóa;&nbsp;<strong>
                    siêu
                    thị thứ 14
                </strong>&nbsp;tại
                111 Hồ Tùng Mậu, Cầu Giấy, Hà Nội,&nbsp;<strong>siêu thị thứ 15&nbsp;</strong>tại 635 Mê Linh, Tp
                Vĩnh Yên, Vĩnh Phúc,&nbsp;<strong>siêu thị thứ 16</strong>&nbsp;tại 113 đường Đông A, khu đô thị mới
                Hòa Vượng, thành phố Nam Định.&nbsp;
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                ​Nếu như năm 2014 là
                năm bứt phá thần tốc của&nbsp;<strong>Electronic Device&nbsp;</strong>ngay trong thời điểm thị
                trường bán lẻ đầy khó khăn và biến động thì năm 2015 là năm khẳng định sự phát triển
                bền vững của&nbsp;
                <strong>Electronic Device</strong>&nbsp;trong bối cảnh cạnh tranh khốc liệt trên thị trường điện
                máy. Năm 2015,&nbsp;<strong>Electronic Device</strong>&nbsp;khai trương thêm 04&nbsp;siêu thị mới
                <strong>siêu thị thứ 17</strong>&nbsp;tại
                số 1 Hùng Vương, thành phố Bắc Giang và&nbsp;<strong>siêu thị thứ 18</strong>&nbsp;tại số 849 Nguyễn
                Văn Cừ, thành phố Hạ Long, Quảng Ninh;&nbsp;<strong>siêu thị thứ 19</strong>&nbsp;tại&nbsp;Km11
                đường
                32 - tổ 15 - phường Phúc Diễn - Quận Bắc Từ Liêm - Hà Nội&nbsp;và&nbsp;<strong>
                    siêu thị thứ
                    20
                </strong>&nbsp;tại&nbsp;Số 54 Tố Hữu, P.Trung Văn, Q.Nam Từ Liêm, TP Hà Nội.&nbsp;
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Được sự ủng hộ và hỗ
                trợ tối đa của các hãng, các đối tác chiến lược trong việc bao phủ và mở rộng hệ thống Electronic
                Device liên tục là đơn vị dẫn đầu về thị phần phân phối, bán lẻ hàng điện máy công nghệ
                tại miền Bắc. Năm 2016&nbsp;tiếp tục là một năm phát triển mạnh mẽ của&nbsp;<strong>
                    Electronic
                    Device
                </strong>&nbsp;với 11 siêu thị mới đã được đưa vào vận hành kể từ đầu năm.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Năm 2017 khép
                lại&nbsp;với 40 siêu thị được khai trương và vận hành thành công tại các tỉnh thành phố trọng điểm
                trên cả nước.&nbsp;
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Với sự nỗ lực của
                toàn thể CBCNV, đặc biệt là sự điều hành của ban lãnh đạo cty, đã khởi nguồn cho hành trình 11 năm
                tiến tới thành công của&nbsp;<strong>Electronic Device</strong>&nbsp;hôm nay.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Năm 2018 tiếp tục là
                năm phát triển mạnh mẽ của&nbsp;<strong>Electronic Device&nbsp;</strong>với nhiều thành tích và dấu
                ấn đầy tự hào.&nbsp;Năm 2018 - với 27 siêu thị được khai trương và vận hành thành
                công tại các tỉnh thành phố trọng điểm trên cả nước.&nbsp;Không chỉ bùng nổ về SỐ LƯỢNG, năm 2018
                còn chứng kiến sự dịch về CHẤT thông qua việc áp dụng mạnh mẽ công nghệ vào quản
                lý.&nbsp;<strong>Electronic Device&nbsp;</strong>đầu
                tư 5 tỷ đồng nâng cấp hệ thống Navi và Eoffice, đầu tư làm mới hệ thống báo cáo Tablean nhằm chuyên
                nghiệp hóa hoạt động kiểm soát và hỗ trợ nghiệp vụ chuyên môn...
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Bước sang năm 2019,
                với thế mạnh về tài chính vững chắc, đội ngũ nhân sự dày dạn kinh nghiệm, khả năng quản trị hệ thống
                tối ưu và kinh nghiệm vận hành hệ thống bán lẻ hiện đại,&nbsp;<strong>
                    Electronic
                    Device
                </strong>&nbsp;tập
                trung phát triển hệ thống phân phối bán lẻ hiện đại một cách nhanh nhất. Chỉ trong 6 tháng đầu
                năm,&nbsp;<strong>Electronic Device</strong>&nbsp;đã mở rộng thêm 22&nbsp;siêu thị mới, nâng tổng số
                thành
                viên trên toàn hệ thống lên 120 siêu thị. Và&nbsp;trong 6 tháng cuối năm, con số này tiếp tục tăng.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Cụ thể: Tháng 7 năm
                2019,&nbsp;<strong>Electronic Device</strong>&nbsp;khai trương thêm 6 siêu thị mới tại Bắc Ninh,
                Hưng Yên, Ninh Bình, Thái Bình, Hà Nội. Tháng 8 năm 2019,&nbsp;<strong>
                    Electronic
                    Device&nbsp;
                </strong>mở
                rộng hệ thống thêm 13 siêu thị, tập trung ở các tỉnh miền trung như Thanh Hóa, Nghệ An; miền bắc là
                Hải Phòng, Hải Dương. Bước sang tháng 9,&nbsp;<strong>Electronic Device</strong>&nbsp;tiếp tục phủ
                sóng thị trường điện máy miền bắc với việc khai trương&nbsp;11 siêu thị mới, đưa hệ thống vượt mốc
                150 siêu thị trên toàn quốc.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Đặc biệt, trong 3
                tháng cuối năm 2019, với mục tiêu vượt mốc 200 siêu thị trên toàn quốc,&nbsp;<strong>
                    Electronic
                    Device
                </strong>&nbsp;rầm rộ khai trương hơn 40 siêu thị mới. Trong đó, tiêu biểu phải kể
                đến Hà Nội khai trương 10 siêu thị, Thanh Hóa khai trương 5 siêu thị, Hưng Yên khai trương 5 siêu
                thị…
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Bước vào năm 2020 với
                nhiều biến động khi dịch bệnh Covid19 liên tục hoành hành khắp trong và ngoài nước, đã ảnh hưởng
                không nhỏ tới tình hình kinh doanh của đại bộ phận các doanh nghiệp. Để phù hợp với
                tình hình mới, ngành bán lẻ đã chuyển hướng sang hình thức mua hàng trực tuyến, mua hàng online
                nhiều hơn để đảm bảo doanh thu và phục vụ người tiêu dùng thuận tiện mua sắm. Và <strong>
                    Electronic
                    Device
                </strong>cũng
                không phải ngoại lệ. Ban lãnh đạo Công ty đã kịp thời đưa ra những chính sách mới đảm bảo quyền lợi
                và dịch vụ hậu mãi đối với khách mua hàng tại bất cứ trung tâm nào trong Hệ thống cũng như mua trực
                tuyến.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Không dừng lại ở đó,
                để đáp ứng sức mua của người dân và quá trình vận chuyển hàng hóa nhanh chóng tới tay khách hàng,
                <strong>Electronic Device</strong> tiếp tục mở rộng hệ thống siêu thị của mình phủ sóng
                rộng khắp các tỉnh thành bao gồm các tỉnh, thành phố Hà Nội, Hải Phòng, Thanh Hóa, Hòa Bình…Hiện
                tại, <strong>Electronic Device </strong>đang sở hữu chuỗi hơn <strong>230</strong> siêu thị và dự
                kiến
                sẽ vượt mốc
                <strong>250</strong> siêu thị trong những tháng cuối năm 2020.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Trước làn sóng mua
                bán, sát nhập, đầu tư vốn nước ngoài của hàng loạt các thương hiệu, tập đoàn bán lẻ hiện
                nay,&nbsp;<strong>Electronic Device&nbsp;</strong>vẫn đang tiếp tục khẳng định nội lực của doanh
                nghiệp Việt thông qua việc tư thân vận động và đạt tốc độ tăng trưởng doanh thu cũng như thị phần
                bán lẻ điện máy thuộc TOP đầu miền Bắc tính đến thời điểm hiện tại.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>
                    Electronic
                    Device
                </strong> được vinh danh “<strong>Top 10 Công ty Bán lẻ uy tín Việt Nam” </strong>trong 3
                năm liên tiếp, <strong>“</strong><strong>Top 500 Doanh nghiệp lớn nhất Việt Nam”</strong>
                <strong>(Profit500)</strong><strong>. </strong>Có được kết quả này là nỗ lực không ngừng của tập thể
                hơn 5000 CBNV <strong>công ty CP Electronic Device Việt Nam</strong> trong việc xây dựng một thương
                hiệu uy tín, tin cậy và có sức cạnh tranh mạnh mẽ trên thị trường.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>
                    • TẦM
                    NHÌN:
                </strong>
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Công ty số 1 tại Việt
                Nam trong lĩnh vực phân phối, bán lẻ các sản phẩm Điện máy, máy tính, mobile và nội thất.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>
                    •&nbsp;SỨ
                    MỆNH:
                </strong>
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Với kim chỉ nam là
                “Không ngừng phát triển vì khách hàng” và làm hài lòng khách hàng bằng cách tạo ra những&nbsp;giá
                trị gia tăng như cung cấp các sản phẩm, dịch vụ uy tín, chuyên nghiệp.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>
                    •&nbsp;MỤC
                    TIÊU CHIẾN LƯỢC:
                </strong>
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tối đa hoá giá trị đầu tư của các cổ đông; giữ vững tốc độ tăng
                trưởng lợi nhuận và tình hình tài chính lành mạnh;
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Không ngừng nâng cao động lực làm việc và năng lực cán bộ;
                Electronic Device phải luôn dẫn đầu ngành điện máy- nội thất trong việc sáng tạo, phát triển chính
                sách đãi ngộ
                và cơ hội thăng tiến nghề nghiệp cho cán bộ của mình;
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                3.&nbsp; &nbsp;
                &nbsp; Duy trì sự hài lòng, trung thành và gắn bó của khách hàng với&nbsp;<strong>
                    Electronic
                    Device
                </strong>; xây dựng&nbsp;<strong>Electronic Device</strong>&nbsp;thành một trong những
                công
                ty hàng đầu Việt Nam có chất lượng dịch vụ rất uy tín, chuyên nghiệp do khách hàng lựa chọn.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phát triển&nbsp;<strong>Electronic Device</strong>&nbsp;thành một
                trong những hệ thống điện máy - nội thất hàng đầu Việt Nam về: quản lý tốt, môi trường làm việc tốt,
                văn
                hoá doanh nghiệp chú trọng khách hàng, thúc đẩy hợp tác và sáng tạo và rất linh hoạt khi môi trường
                kinh doanh thay đổi.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>
                    II. THẾ MẠNH
                    VÀ ĐỊNH HƯỚNG CỦA CÔNG TY
                </strong>
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>V</strong>ới
                kim chỉ nam là “Không ngừng phát triển vì khách hàng”,&nbsp;<strong>
                    Electronic
                    Device
                </strong>&nbsp;đã quy tụ được Ban Lãnh đạo có bề dày kinh nghiệm trong các lĩnh vực điện
                máy không
                chỉ mạnh về kinh doanh mà còn mạnh về công nghệ có nhiều tiềm năng phát triển, kết hợp với đội ngũ
                nhân viên trẻ, năng động và chuyên nghiệp tạo lên thế mạnh nòng cốt của công ty để thực hiện tốt các
                mục tiêu đề ra.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Hơn nữa, trên cơ sở
                nguồn lực của công ty và nhu cầu của xã hội,&nbsp;<strong>Electronic Device</strong>&nbsp;lựa chọn
                phát triển kinh doanh các sản phẩm Điện máy, IT, Các sản phẩm công nghệ, nội thất ...phục
                vụ nhu cầu thiết yếu của người dân với các sản phẩm đa dạng phong phú mang lại giá trị gia tăng cho
                người tiêu dùng thông qua các dịch vụ sau bán hàng.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Qua quá trình phát
                triển, bên cạnh việc thiết lập được một hệ thống đối tác nước trong nước và ngoài đến từ các doanh
                nghiệp lớn của Korea, Singapore, Trung Quốc, Nhật Bản, có thế mạnh trong các lĩnh vực
                Điện máy, sản phẩm công nghệ như: SAMSUNG, SONY, LG, Panasonic, Toshiba, Sharp,... Trong thời gian
                tới Công ty sẽ đầu tư vào các ngành nghề mới như bất động sản, khai thác khoáng, đầu tư tài chính.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>
                    III. ĐỘI NGŨ
                    NHÂN SỰ
                </strong>
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>H</strong>ội
                đồng Quản trị do Đại hội đồng cổ đông tín nhiệm bầu ra. Hội đồng quản trị là cơ quan quản trị toàn
                bộ mọi hoạt động của công ty, các chiến lược, kế hoạch sản xuất và kinh doanh trong
                nhiệm kỳ của mình.&nbsp;Ban Giám đốc sẽ chịu trách nhiệm về các mặt hoạt động của công ty trước Hội
                đồng Quản trị và pháp luật hiện hành, quyết định các chủ trương, chính sách, mục tiêu chiến lược của
                công ty, đồng thời giám sát và kiểm tra tất cả các hoạt động về sản xuất kinh doanh, đầu tư của công
                ty.&nbsp;
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>
                    IV. CAM
                    KẾT
                </strong>
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>M</strong>ediaMart nỗ lực hướng tới mục tiêu phát triển bền vững và trở thành thương hiệu
                hàng đầu về cung cấp các sản phẩm Điện máy - Nội thất tại Việt Nam mang tầm cỡ quốc tế. Dựa vào nội
                lực của
                chính mình và mở rộng hợp tác với các đối tác trong và ngoài nước chúng tôi cam kết.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>
                    Cam kết với
                    đối tác:
                </strong>
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                - Trở thành đối tác
                chiến lược trong và ngoài nước trên cơ sở "Hợp tác, phát triển bền vững" hợp tác toàn diện lâu dài
                nhằm kịp thời đưa những sản phẩm mới và dịch vụ theo các yêu cầu đặc thù của khách hàng.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <em>
                    <strong>
                        Cam kết
                        với khách hàng
                    </strong>
                </em><strong>&nbsp;:</strong>
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                - Luôn luôn làm khách
                hàng hài lòng về các sản phẩm và dịch vụ do Media Mart cung cấp. Sự thành công hài lòng của khách
                hàng là thước đo uy tín hiệu quả của doanh nghiệp.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                - Giá cả hàng hóa
                luôn hợp lý và được cập nhật chính xác, kịp thời để phục vụ khách hàng tối đa.&nbsp;
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                - Luôn lắng nghe,
                phân tích và học hỏi từ thị trường trong và ngoài nước, không bao giờ tự mãn với thành công đã
                có.&nbsp;
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                - Luôn nhìn lại mình
                để phát triển (đạo đức và kiến thức chuyên môn). Mỗi nhân viên là một thương hiệu cá nhân. Mỗi nhân
                viên là một đại sứ thiện chí của&nbsp;Electronic Device&nbsp;đối với thế giới bên
                ngoài.&nbsp;
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>
                    V. NHỮNG MỤC
                    TIÊU TƯƠNG LAI
                </strong>
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                <strong>K</strong>hông ngừng vươn xa,&nbsp;<strong>Electronic Device</strong>&nbsp;sẽ mở rộng Hệ
                thống siêu thị điện máy - nội thất tới các Tỉnh thành trong cả nước với tiêu chí phát triển, hiệu
                quả, bền
                vững. Sự gia tăng mạnh mẽ cả về nguồn vốn, mô hình và mạng lưới hoạt động cũng như chất lượng nguồn
                nhân lực không chỉ thể hiện những khởi sắc mà còn là dấu ấn quan trọng trong hoạt động kinh doanh
                của&nbsp;<strong>Electronic Device</strong>.
            </p>
            <p data-gtm-vis-has-fired-11082105_181="1" data-gtm-vis-has-fired-11082105_183="1">
                Đón đầu và phát huy
                lợi thế từ mọi cơ hội,&nbsp;<strong>Electronic Device</strong>&nbsp;không ngừng nghiên cứu, phát
                triển thêm các sản phẩm, dịch vụ gia tăng đáp ứng hiệu quả mọi nhu cầu của khách hàng
                như bán hàng Online, Call Center, Dịch vụ bảo hành trọn đời, Bán hàng trả góp lãi suất 0%... Cùng
                với sự đa dạng hóa sản phẩm dịch vụ,&nbsp;<strong>Electronic Device</strong>&nbsp;cũng đã hoàn thiện
                những quy trình quản trị, quy trình điều hành, quản lý rủi ro, không ngừng nghiên cứu, học hỏi từ
                những mô hình Điện máy thành công trên thế giới để áp dụng một cách sáng tạo, khoa học vào kinh
                doanh
                của&nbsp;
                <strong>Electronic Device</strong>, đảm bảo hiệu quả cũng như sự phát triển bền vững cả trong hiện
                tại lẫn những chặng đường về sau.
            </p>

        </div>
    </div>
</div>
