@model ElectronicDevice.Models.Product
@{
    ViewBag.Title = "";
    var id_product = Request.QueryString["id_product"];
    var id_account = Session["ID"];
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg" id="my_banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Chi tiết sản phẩm</h2>
                        <p id="title-banner-detail">Trang chủ <span>></span> Chi tiết sản phẩm</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <img src="~/wwwroot/img/my-image/banner/product1.png" alt="" width="560">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================End Home Banner Area =================-->
<!--================Single Product Area =================-->
<div class="product_image_area mt-3">
    <div class="container bg-white p-4">
        <div class="row">
            <div class="col-md-7">
                <div class="product_slider_img border">
                    <img url="" id="image-product" />
                </div>
            </div>
            <div class="col-md-5">
                <div class="s_product_text">
                    <h3 id="name-product">
                        @*product name*@
                    </h3>
                    <h2 id="price-product">
                        @*product price*@
                    </h2>
                    <table id="table-product-detail">
                        <tr>
                            <td>Model:</td>
                            <td id="model-product">
                                @*product model*@
                            </td>
                        </tr>
                        <tr>
                            <td>Bảo hành:</td>
                            <td id="guarantee-product">
                                @*product guarantee*@
                            </td>
                        </tr>
                        <tr>
                            <td>Xuất xứ:</td>
                            <td id="origin-product">
                                @*product origin*@
                            </td>
                        </tr>
                        <tr>
                            <td>Trạng thái:</td>
                            <td id="status-product">
                                @*product status*@
                            </td>
                        </tr>
                    </table>
                    <p id="short-description-product">
                        @*product short description*@
                    </p>
                    <div class="card_area d-flex justify-content-between align-items-center">
                        <div class="product_count">
                            <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                            <input class="input-number" id="numberProductOrder" type="text" value="1" min="1" max="10">
                            <span class="number-increment"> <i class="ti-plus"></i></span>
                        </div>
                        <div class="my-cart border rounded-circle" title="Thêm sản phẩm vào giỏ" onclick="addProductToCart(@id_product,@Session["ID"])">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <a href="@Url.Action("Buy","Bill")" class="btn_3">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="mt-3">
    <div class="container bg-white p-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#deteal-product" role="tab"
                   aria-controls="home" aria-selected="true">Thông tin sản phẩm</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="deteal-product" role="tabpanel" aria-labelledby="home-tab">
                <br><br>
                <p id="detail-product">
                    @*product detail*@
                </p>
            </div>
        </div>
    </div>
</section>

<!--modal notice-->
<!-- Modal -->
<div class="modal fade" id="modalNotice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body " id="modalNoticeContent" style="font-size:22px ">
                <!--content-->
            </div>
            <div class="modal-footer mx-auto" style="border:unset">
                <button type="button" id="btn_close" class="btn btn-secondary" data-dismiss="modal">
                    <!--Button Close-->
                </button>
                <button type="button" id="btn_save" onclick="deleteRecordConfirmed()" class="btn btn-primary">
                    <!--Button Save-->
                </button>
            </div>
        </div>
    </div>
</div>
<!--================End Product Description Area =================-->
<!-- product_list part start-->
@{
    Html.Action("_NewProduct", "Product");
}


@section script{
    <script>
        $(document).ready(function () {
            var id_product = window.location.href.split("=")[1];
            var load = function (id_product) {
                $.ajax({
                    url: "/Product/GetDetail?id_product=" + id_product,
                    type: "GET",
                    data: { id_product: id_product },
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function (result) {
                        var imgPath = '/wwwroot/imageUpload/' + result.data.Image;
                        $("#image-product").attr("src", imgPath);
                        $("#name-product").html(result.data.Name);
                        $("#price-product").html(result.data.Price.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }));
                        $("#model-product").html( result.data.Model);
                        $("#guarantee-product").html(result.data.Guarantee + ' tháng');
                        $("#origin-product").html(result.data.Origin);
                        var status = result.data.Status > 0 ? "Còn hàng" : "Hết hàng";
                        $("#status-product").html(status);
                        $("#short-description-product").html(result.data.ShortDescription);
                        $("#detail-product").html(result.data.Detail);

                    }
                });
            }
            load(id_product);
        });

        function addProductToCart(id_product, id_account) {

            if (id_account == null) {
                var url = '@Url.Action("Index","Login",new { statusRequest="LoginToCart"})';
                window.location.href = url;
            } else {
                var amount = $("#numberProductOrder").val();
                $.ajax({
                    url: "/cart/addcart",
                    type: "post",
                    data: { id_product: id_product, id_account: id_account,amount:amount },
                    datatype: "json",
                    contenttype: "application/json;charset=utf-8",
                    success: function (result) {
                        $('#modalNoticeContent').text(result.data);
                        $('#btn_close').text("ok");
                        $('#btn_save').hide();
                        $('#btn_close').css({ "background-color": "#007bff", "border": "1px solid #007bff", "width": "200px" });
                        $('#modalNotice').modal("show");
                    },
                    error: (error) => {
                        $('#modalNoticeContent').text("thêm vào giỏ hàng thất bại!");
                        $('#btn_close').text("ok");
                        $('#btn_save').hide();
                        $('#btn_close').css({ "background-color": "#007bff", "border": "1px solid #007bff", "width": "200px" });
                        $('#modalNotice').modal("show");
                    }
                });
            }
        }
    </script>
}