
@{
    ViewBag.Title = "Detail";
}
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ĐIỀU HÒA GREE 1 CHIỀU 9000BTU GWC09KB-K6N0C4 | Electronic Device</title>
    <link rel="icon" href="~/wwwroot/img/my-logo/logo-asp.net.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/wwwroot/css/lightslider.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/flaticon.css">
    <link rel="stylesheet" href="~/wwwroot/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/magnific-popup.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/wwwroot/css/style.css">
    <!-- My style -->
    <link rel="stylesheet" href="~/wwwroot/css/my-style-menu.css">
    <link rel="stylesheet" href="~/wwwroot/css/my-style-list-product.css">
    <link rel="stylesheet" href="~/wwwroot/css/my-style.css">
    <link rel="stylesheet" href="~/wwwroot/css/my-style-product.css">
</head>

<body>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg"  id="my_banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Chi tiết sản phẩm</h2>
                            <p>Trang chủ <span>-</span> Chi tiết sản phẩm</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <img src="~/wwwroot/img/my-image/banner/product1.png" alt="" width="560">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!--================End Home Banner Area =================-->
    <!--================Single Product Area =================-->
    <div class="product_image_area mt-3">
        <div class="container bg-white p-4">
            <div class="row">
                <div class="col-md-7">
                    <div class="product_slider_img border">
                        <img src="https://cdn.mediamart.vn/Product/-AJm7ms.jpg" />
                        <!-- <div id="vertical">

                        <div data-thumb="img/product/single-product/product_1.png">
                            <img src="img/product/single-product/product_1.png" />
                          </div>
                          <div data-thumb="img/product/single-product/product_1.png">
                            <img src="img/product/single-product/product_1.png" />
                          </div>
                          <div data-thumb="img/product/single-product/product_1.png">
                            <img src="img/product/single-product/product_1.png" />
                          </div>
                          <div data-thumb="img/product/single-product/product_1.png">
                            <img src="img/product/single-product/product_1.png" />
                          </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="s_product_text">
                        <h3>ĐIỀU HÒA GREE 1 CHIỀU 9000BTU GWC09KB-K6N0C4</h3>
                        <h2>5.290.000đ</h2>
                        <ul class="list">
                            <li>
                                <a class="active" href="#">
                                    <span>Model</span> : GWC09KB-K6N0C4
                                </a>
                            </li>
                            <li>
                                <a href="#"> <span>Bảo hành:</span> 36 tháng</a>
                            </li>
                            <li>
                                <a href="#"> <span>Xuất xứ:</span> Trung Quốc</a>
                            </li>
                            <li>
                                <a href="#"> <span>Trạng thái:</span> Còn hàng</a>
                            </li>
                        </ul>
                        <p>
                            Làm lạnh căn phòng tức thì với chế độ làm lạnh nhanh Turbo.

                            Điều chỉnh nhiệt độ phù hợp với cảm biến nhiệt I Feel.

                            Loại bỏ nấm móc vi khuẩn với tính năng tự làm sạch.

                            Chế độ ngủ đêm, tiện lợi với chức năng hẹn giờ bật tắt máy.
                        </p>
                        <div class="card_area d-flex justify-content-between align-items-center">
                            <div class="product_count">
                                <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                                <input class="input-number" type="text" value="1" min="0" max="10">
                                <span class="number-increment"> <i class="ti-plus"></i></span>
                            </div>
                            <!-- <a href="#" class="btn_3">THÊM SẢN PHẨM VÀO GIỎ</a> -->
                            <a href="" class="my-cart border rounded-circle" title="Thêm sản phẩm vào giỏ">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                            <a href="@Url.Action("Buy","Bill")" class="btn_3">Mua ngay</a>
                            <!-- <a href="#" class="like_us"> <i class="ti-heart"></i> </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->
    <!--================Product Description Area =================-->
    <section class="mt-3">
        <div class="container bg-white p-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#deteal-product" role="tab"
                       aria-controls="home" aria-selected="true">Thông tin sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                       aria-selected="false">Đánh giá sản phẩm</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="deteal-product" role="tabpanel" aria-labelledby="home-tab">
                    <br><br>
                    <p>
                        Thiết kế hiện đại và sang trọng
                        Điều hòa Gree 9000 btu GWC09KB-K6N0C4 là một thiết kế mới của Gree vừa được ra mắt năm đầu 2020. Với kiểu
                        dáng
                        đơn giản nhưng sang trọng, thiết kế này dễ dàng kết hợp với mọi không gian trong nhà bạn, tôn lên vẻ đẹp và
                        các điểm nhấn thiết kế riêng của căn phòng. Đây là một lựa chọn hoàn hảo phục vụ cuộc sống hiện đại của gia
                        đình bạn.
                    </p>
                    <img src="https://cdn.mediamart.vn/Upload/images/1(279).jpg">
                    <p>
                        Chế độ làm lạnh nhanh Turbo
                        Không để bạn chờ đợi lâu, chỉ với một lần nhấn nút Turbo trên remote điều hòa Gree 9000btu 1 chiều
                        GWC09KB-K6N0C4 này thì chế độ làm lạnh nhanh Turbo sẽ được kích hoạt. Trong vòng 3 phút, máy sẽ tạo ra lưu
                        lượng gió lớn hơn nhiều lần và có thể thổi xa tới 6m giúp căn phòng đạt độ lạnh cần thiết. Tạo cảm giác mát
                        lạnh nhanh chóng xua tan nóng nực bực bội.
                    </p>
                </div>

                <div class="tab-pane fade " id="review" role="tabpanel" aria-labelledby="review-tab">
                    <br><br>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row total_rate">
                                <div class="col-12">
                                    <div class="box_total">
                                        <div class="d-flex flex-row justify-content-center">
                                            <div class="border-right border-danger pr-5">
                                                <h5>Đánh giá chung</h5>
                                                <br>
                                                <h5 class="text-danger">5 trên 5</h5>
                                                <br>
                                                <h6 class="text-warning">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </h6>
                                            </div>
                                            <div class="pl-5">
                                                <div class="rating_list">
                                                    <h5>Tổng quan</h5>
                                                    <br />
                                                    <ul class="list">
                                                        <li>
                                                            <a href="#">
                                                                5 / 5
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i> ( 01 )
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                4 / 5
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-secondary"></i> ( 01 )
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                3 / 5
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-secondary"></i>
                                                                <i class="fa fa-star text-secondary"></i> ( 01 )
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                2 / 5
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-secondary"></i>
                                                                <i class="fa fa-star text-secondary"></i>
                                                                <i class="fa fa-star text-secondary"></i> ( 01 )
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                1 / 5
                                                                <i class="fa fa-star text-warning"></i>
                                                                <i class="fa fa-star text-secondary"></i>
                                                                <i class="fa fa-star text-secondary"></i>
                                                                <i class="fa fa-star text-secondary"></i>
                                                                <i class="fa fa-star text-secondary"></i> ( 01 )
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <br>
                            <div class="review_list">
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img class="rounded-circle" width="60" height="60"
                                                 src="https://vcdn-dulich.vnecdn.net/2020/09/04/1-Meo-chup-anh-dep-khi-di-bien-9310-1599219010.jpg" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Người dùng 1</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>
                                        Sản phẩm rất tốt, tôi sẽ mua lại sản phẩm này để ủng hộ shop
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>Đánh giá sản phẩm</h4>
                                <p>Mức độ hài lòng:</p>
                                <ul class="list">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                </ul>
                                <p>Rất hài lòng</p>
                                <form class="row contact_form" method="post" novalidate="novalidate">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" rows="6"
                                                      placeholder="Đánh giả về sản phẩm ..."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" value="submit" class="btn_3">
                                            Gửi đánh giá
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Product Description Area =================-->
    <!-- product_list part start-->
    @{ 
        Html.RenderPartial("_BestSell");
    }
    <!-- product_list part end-->
    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="~/wwwroot/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="~/wwwroot/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="~/wwwroot/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="~/wwwroot/js/lightslider.min.js"></script>
    <!-- swiper js -->
    <script src="~/wwwroot/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="~/wwwroot/js/owl.carousel.min.js"></script>
    <script src="~/wwwroot/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="~/wwwroot/js/slick.min.js"></script>
    <script src="~/wwwroot/js/swiper.jquery.js"></script>
    <script src="~/wwwroot/js/jquery.counterup.min.js"></script>
    <script src="~/wwwroot/js/waypoints.min.js"></script>
    <script src="~/wwwroot/js/contact.js"></script>
    <script src="~/wwwroot/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/wwwroot/js/jquery.form.js"></script>
    <script src="~/wwwroot/js/jquery.validate.min.js"></script>
    <script src="~/wwwroot/js/mail-script.js"></script>
    <script src="~/wwwroot/js/stellar.js"></script>
    <!-- custom js -->
    <script src="~/wwwroot/js/theme.js"></script>
    <script src="~/wwwroot/js/custom.js"></script>

</body>

</html>
