@model ElectronicDevice.Models.Product
@{
    ViewBag.Title = "Sản phẩm";
}

<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg" id="my_banner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item" id="title-banner">
                        <h2>Tất cả sản phẩm</h2>
                        <p>Trang chủ</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <img src="~/wwwroot/img/my-image/banner/product1.png" alt="" width="560">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Category Product Area =================-->
<section class="cat_product_area mt-3">
    <div class="container bg-white p-4">
        <div class="row">
            <div class="col-lg-3">
                @{
                    Html.RenderAction("_LeftSidebar", "Category");
                }
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu d-flex">
                                <div class="input-group">
                                    <h5 class="my-auto" style="color: #495057; text-transform:none">Sắp xếp theo: </h5>
                                    <select class="m-1" id="orderBy" style="">
                                        <option value="0">Lựa chọn tiêu chí lọc</option>
                                        <option value="1">Giá tăng dần</option>
                                        <option value="2">Giá giảm dần</option>
                                    </select>
                                </div>
                            </div>
                            <div class="single_product_menu d-flex">
                                <div class="input-group" id="input-group-search">
                                    <input type="text" class="form-control" placeholder="Tìm kiếm"
                                           aria-describedby="inputGroupPrepend" id="searchStr" value="@ViewBag.searchStr">
                                    <div class="input-group-prepend" id="search">
                                        <span class="input-group-text" id="inputGroupPrepend">
                                            <i class="ti-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center latest_product_inner " id="product-container">


                    @*list product*@


                </div>
                <div class="col-lg-12">
                    <div class="pageination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center pagination" id="load-pagination">

                                @*Paged List*@

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--alert message-->
<div class="alert hide" id="alert_message">
    <div id="icon-alert-message"><i class="fas fa-exclamation-circle"></i></div>
    <span class="msg">Warning: This is a warning alert!</span>
    <div class="close-btn-alert">
        <span class="fas fa-times"></span>
    </div>
</div>

<div class="alert_temple"></div>

<!--================End Category Product Area =================-->
<!-- product_list part start-->
@{
    Html.RenderAction("_NewProduct", "Product");
}

@section script{
    <script>
        $(document).ready(function () {
            $("#orderBy").val("0").change();
            $('.close-btn-alert').click(function () {
                $('.alert').removeClass("show");
                $('.alert').addClass("hide");
            });
            $("#orderBy").css({ "display": "block" });
            $("#searchStr").val("");
            //load init
            loadData(null, 1, null, null);
        });
        function loadData(searchStr, page, id_category, typeOrder) {
    $.ajax({
        url: "/Product/GetAll",
        type: "GET",
        data: { searchStr: searchStr, page: page, id_category: id_category, typeOrder: typeOrder },
        dataType: "json",
        contentType: "application/json;charset=utf-8",
        success: function (result) {
            var html = '';
            var imgPath = '';
            var id_account = '@Request.RequestContext.HttpContext.Session["ID"]';
            if ((result.data.length == 0 || result.data == null) && searchStr != null && searchStr != "") {
                html += '<div style="margin:auto">';
                html += ' <img src="/wwwroot/imageUpload/notFoundProduct.png" width="300" style="margin:auto"/>';
                html += '<br/>'
                html += ' <p style="text-align:center; margin: 25px 0px 30px;">Không tìm thấy sản phẩm phù hợp!</p>';
                html += '</div>';
                $("#load-pagination").html("");
            } else if ((result.data.length == 0 || result.data == null) && id_category != null && id_category != "") {
                html += '<div style="margin:auto">';
                html += ' <img src="/wwwroot/imageUpload/notFoundProduct.png" width="300" style="margin:auto"/>';
                html += '<br/>'
                html += ' <p style="text-align:center; margin: 25px 0px 30px;">Không có sản phẩm nào trong danh mục!</p>';
                html += '</div>';
                $("#load-pagination").html("");
            }
            else {
                $.each(result.data, function (index, item) {
                    imgPath = '/wwwroot/imageUpload/' + item.Image;
                    html += '<div class="col-lg-4 col-sm-6 box-single-product" onclick = "detail(' + item.ID_Product + ')">';
                    html += '<div class="single_product_item">';
                    html += '<img class="img-product" src="' + imgPath + '"  alt="">';
                    html += '<div class="single_product_text">';
                    html += '<h4>' + item.Name + '</h4>';
                    html += '<h3>' + item.Price.toLocaleString('it-IT', { style: 'currency', currency: 'VND' }) + '</h3>';
                    html += '<div class="my-cart border rounded-circle" title="Thêm sản phẩm vào giỏ" onclick="event.stopPropagation();addProductToCart(' + item.ID_Product + ',' + id_account + ')">';
                    html += '<i class="fas fa-shopping-cart"></i>';
                    html += '</div>';
                    html += '</div>';
                    html += '</div>';
                    html += ' </div>';

                    //create pagination
                    var pagination_string = "";
                    var currentPage = result.currentPage;
                    var totalPage = result.totalPage;


                    if (currentPage > 1) {
                        var previousPage = currentPage - 1;
                        pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + previousPage + '><i class="fas fa-angle-double-left" style="font-size:18px"></i></a></li>';
                    }

                    for (i = 1; i <= totalPage; i++) {
                        if (i == currentPage) {
                            pagination_string += '<li class="page-item active"><a href="" class="page-link" data-page=' + i + '>' + currentPage + '</a></li>';
                        } else if (i >= currentPage - 3 && i <= currentPage + 4) {
                            pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + i + '>' + i + '</a></li>';
                        }
                    }

                    if (currentPage > 0 && currentPage < totalPage) {
                        var nextPage = currentPage + 1;
                        pagination_string += '<li class="page-item"><a href="" class="page-link"  data-page=' + nextPage + '><i class="fas fa-angle-double-right" style="font-size:18px"></i></a></li>';
                    }
                    $("#load-pagination").html(pagination_string);
                });
            }
            $("#product-container").html(html);
        }

    });
}
    </script>
    <script src="~/wwwroot/scriptDefined/scriptProduct.js"></script>
}


